<table class="table is-fullwidth">
  <thead>
    <th>Trail Name</th>
    <th>Distance Km</th>
    <th>Terrain Description</th>
    <th>Trailfinder</th>
    <th>Traillist</th>
  </thead>
  <tbody>
    {{#each trails}}
      <tr>
        <td>{{trailname}}</td>
        <td>{{distancekm}}</td>
        <td>{{terraindescription}}</td>
        <td> {{trailfinder.firstName}} {{trailfinder.lastName}} </td>
        <td>{{traillist.lastName}}, {{traillist.firstName}}</td>
      </tr>
    {{/each}}
  </tbody>
</table>
